<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>Dashboard</h1>
    <nav>
        <ul>
            <li><a th:href="@{/transactions/new}">Add Transaction</a></li>
            <li><a th:href="@{/transactions/history}">View Transactions</a></li>
            <li><a th:href="@{/categories}">Category Management</a></li>
        </ul>
    </nav>
    <div>
        <h2>Total Income: <span th:text="${totalIncome}"></span></h2>
        <h2>Total Expenses: <span th:text="${totalExpenses}"></span></h2>
    </div>
    <div>
        <h2>Recent Transactions</h2>
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${recentTransactions}">
                <td th:text="${transaction.date}"></td>
                <td th:text="${transaction.description}"></td>
                <td th:text="${transaction.amount}"></td>
                <td th:text="${transaction.type}"></td>
                <td th:text="${transaction.category.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>